APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:reBg/fqjBjf7mQTJWJZ2PHCDTWCA1xej/SO3L7Cg+ms=
APP_DEBUG=true
APP_TIMEZONE=Asia/Jakarta
APP_URL=http://localhost

DB_CONNECTION=sqlite

BOARDING_SCHOOL_BASE='https://dashboard.ppsunankalijogosby.online'
BOARDING_SCHOOL_KEY= "" #chek di dashboard
BOARDING_SCHOOL_SECRET="" #chek di dashboard
BOARDING_SCHOOL_CODE="" #chek di dashboard


